button {
    width: 282px;
    height: 62px;
    background: #FFFFFF;
    border: 2px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #D70900;
}

button:disabled{
    background: #E8E8E8;
    border: none;
    color: #C0C0C0;

}