.card-escondido{
    width: calc(100vw - 40px) ;
    max-width: 680px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;	
    align-items: center;
    margin:10px auto;
}


.card-escondido p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;
}

.card-escondido ion-icon{
    font-size:24px;
    margin-right: 24px;
}

.naoLembro * {
    color: #FF3030;
    text-decoration: line-through;
    font-size: 24px;
}

.quaseNaoLembrei * {
    color: #FF922E;
    text-decoration-line: line-through;
    font-size: 24px;
}

.zap * {
    color: #2FBE34;
    text-decoration-line: line-through;
    font-size: 24px;
}

.card {
    width: calc(100vw - 40px) ;
    max-width: 680px;
    height: clamp(200px, calc(268px - 10vw) , 230px);
    position: relative;
    margin: 10px auto;
  }

.face {
    width: 100%;
    height: 100%;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;	
    align-items: flex-start;
    padding: 16px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.card-resposta {
    transform: rotateY(180deg);
  }

.card.virado .card-resposta {
    transform: rotateY(0deg);
}

.card.virado .card-pergunta {
    transform: rotateY(-180deg);
}

.card-pergunta p, .card-resposta p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000;
}

.card-pergunta #setinha{
    width:40px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.card-resposta {
    flex-direction: column;
}

.opcoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}

.opcao {
    min-width: 100px;
    width: calc(calc(100% / 3) - 10px);
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao p{
    text-align: center;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 14px;
    line-height:16px;
    color: #FFFFFF;
}

.red {
    background: #FF3030;
}

.orange {
    background: #FF922E;
}

.green {
    background: #2FBE34;
}