.screen2-container {
    padding-bottom: 50px;
}

.card{
    width: calc(100vw - 20px) ;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;	
    align-items: center;
    margin:5px auto;
}

p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    color: #000;
    margin-left: 10px;
}

ion-icon{
    margin-right: 12px;
}
