select {
    width: 282px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #D70900;

    outline: none;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000
}

option[value=""][disabled] {
    display: none;
}
